---
Kms:
    AwsAccountId: {{ context.Kms.AwsAccountId }}
    KmsKeyArn: {{ context.Kms.KmsKeyArn }}
    KmsKey: {{ context.Kms.KmsKey }}
ResourceNamespace: {{ context.ResourceNamespace }}
VpcAliases:
{%- for alias, vpc in context.VpcAliases.items() %}
  {{ alias }}: {{ vpc }}
{%- endfor %}
SubnetAliases:
{%- for alias, subnet in context.SubnetAliases.items() %}
  {{ alias }}: {{ subnet }}
{%- endfor %}
AwsAccountId: {{ context.AwsAccountId }}
Client: {{ context.Client }}
Tags:
{%- for tag, value in context.Tags.items() %}
  {{ tag }}: {{ value }}
{%- endfor %}
AccountName: {{ context.AccountName }}
ImageAliases:
{%- for alias, image in context.ImageAliases.items() %}
  {{ alias }}: {{ image }}
{%- endfor %}
SecurityAliases:
{%- for alias, details in context.SecurityAliases.items() %}
  {{ alias }}:
  {%- for detail in details %}
  {%- for key, value in detail.items() %}
  {%- if loop.first %}
  - {{ key }}: {{ value }}
  {%- else %}
    {{ key }}: {{ value }}
  {%- endif %}
  {%- endfor %}
  {%- endfor %}
{%- endfor %}
AwsRegion: {{ context.AwsRegion }}
SecurityGroupAliases:
{%- for alias_item in context.SecurityGroupAliases %}
{%- for key, value in alias_item.items() %}
{%- if loop.first %}
- {{ key }}: {{ value }}
{%- else %}
  {{ key }}: {{ value }}
{%- endif %}
{%- endfor %}
{%- endfor %}
Repository: {{ context.Repository }}
Region: {{ context.Region }}
Approvers:
{%- for approver in context.Approvers %}
{%- for key, value in approver.items() %}
{%- if loop.first %}
- {{ key }}: {{ value }}
{%- else %}
  {{ key }}: {{ value }}
{%- endif %}
{%- endfor %}
{%- endfor %}
Contacts:
{%- for contact in context.Contacts %}
{%- for key, value in contact.items() %}
{%- if loop.first %}
- {{ key }}: {{ value }}
{%- else %}
  {{ key }}: {{ value }}
{%- endif %}
{%- endfor %}
{%- endfor %}
Owner: {{ context.Owner }}
